#include <winver.h>

1   ICON    "resources/icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x17L
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "DevilTekGame"
      VALUE "FileDescription", "Knuckle"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "Knuckle"
      VALUE "LegalCopyright", ""
      VALUE "OriginalFilename", "Knuckle.exe"
      VALUE "ProductName", "Knuckle"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
